body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}
h2 {
    color: black;
    margin-left: 20px;
}
h3 {
    color: yellow;
    margin-left: 20px;
}
h4 {
    color: purple;
    margin-left: 20px;
}
